body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.main-title {
    font-size: 40px;
    margin-top: 40px;
    font-weight: bold;
}

.player {
    width: 400px;
    background: #222;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

#title {
    font-size: 28px;
    margin-bottom: 20px;
}

#progress {
    width: 100%;
}

.buttons button {
    margin: 15px;
    padding: 15px;
    width: 60px;
    background: #3498db;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

